.devcontainer/**
.eslintrc.json
.github/**
.gitignore
.husky/**
.nvmrc
.release-please-manifest.json
.vscode-test.js
.vscode-test/**
.vscode/**
**/*.map
**/*.ts
commitlint.config.js
fixtures/**
lint-staged.config.js
NOTES.md
out/test/**
prettier.config.js
release-please.config.json
src/**
tsconfig.json
