.devcontainer/**
.github/**
.gitignore
.husky/**
.nvmrc
.release-please-manifest.json
.vscode-test.js
.vscode-test/**
.vscode/**
**/*.map
**/*.ts
commitlint.config.mjs
eslint.config.mjs
fixtures/**
lint-staged.config.mjs
NOTES.md
out/test/**
prettier.config.mjs
release-please-config.json
src/**
tsconfig.json
